<a href="https://colab.research.google.com/github/VishahFatima/PGD-Batch-5-class-1-Assignment/blob/main/PGD-Batch-5-class-3-Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Assignment 1**: String **Concatenation** and **Formatting**

In [13]:
name = "Vishah Fatima"
age = "22"
country = "Pakistan"

print("My name is " + str(name) + ", I am " + str(age) + " years old" + ", I live in " + str(country))

My name is Vishah Fatima, I am 22 years old, I live in Pakistan

**Assignment 2**: String Formatting using **`.format()**`

In [20]:
quantity = input("Enter quantity of item: ")
item = input("Enter item: ")
price = input("Enter price of your item: ")
total_cost = int(quantity) * int(price)
print(total_cost)

txt1 = "I bought {} {}s at {} each, for a total of ${}" .format(quantity, item, price, total_cost)
print(txt1)

Enter quantity of item: 4
Enter item: book
Enter price of your item: 40
160
I bought 4 books at 40 each, for a total of $160

**Assignment 3**: String Interpolation using **`f''`**

In [25]:
city = "Karachi"
temperature = "28"

txt2 = f"The temperature in {city} is {temperature}°C." .format(temperature, city)
print(txt2)

The temperature in Karachi is 28°C.

**Assignment 4**: String Formatting using **`%()**

In [33]:
first_name = "Vishah"
last_name = "Fatima"
birth_year = 2001
current_year = 2023
age = current_year - birth_year

txt3 = ("My name is %s %s. I am %d years old." %(first_name, last_name, age))
print(txt3)

My name is Vishah Fatima. I am 22 years old.

**Assignment 5**: Combining Formatting Methods

In [38]:
product = "Earbuds"
discount = 20
original_price = 3000
discounted_price = original_price * (1 - discount/100)
#print(discounted_price)

txt4 = f"{product} original price was {original_price}"
txt5 = ("but on a special discount of about %d percent" % (discount))
txt6 = f"now they are available in just Rs.{discounted_price}." .format(discounted_price)

print(txt4 ,"" + txt5 ,"" + txt6)

Earbuds original price was 3000 but on a special discount of about 20 percent now they are available in just Rs.2400.0.